body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px #a970ff;
  text-align: center;
  justify-content: center;
}
img{
    max-height: 100px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  background-color: #a970ff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #bb86fc;
}
